[Unit]
Description=DB Helperservice
Requires=etcd.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull srirajan/dbhelper
# Start the container as linked container
ExecStart=/usr/bin/docker run --rm --name dbhelper --link db:db srirajan/dbhelper /usr/local/bin/configuredb.sh
ExecStop=/usr/bin/docker stop dbhelper
Restart=always

[X-Fleet]
# Schedule on the same machine as the associated db service
X-ConditionMachineOf=db.service
