[Unit]
Description=Monitors web services
Requires=etcd.service
Requires=web@%i.service
BindsTo=web@%i.service

[Service]
EnvironmentFile=/etc/environment
Restart=always

ExecStart=/bin/bash -c '\
  ttl=10; \
  while true; do \
    curl -f ${COREOS_PUBLIC_IPV4}:180%i; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/web/web%i/unit "%n"  --ttl $ttl; \
      etcdctl set /services/web/web%i/host "%H"  --ttl $ttl; \
      etcdctl set /services/web/web%i/public_ipv4_addr "${COREOS_PUBLIC_IPV4}"  --ttl $ttl; \
      etcdctl set /services/web/web%i/private_ipv4_addr "${COREOS_PRIVATE_IPV4}"  --ttl $ttl; \
      etcdctl set /services/web/web%i/port "180%i"  --ttl $ttl; \
    else \
      etcdctl rm /services/web/web%i/unit; \
      etcdctl rm /services/web/web%i/host; \
      etcdctl rm /services/web/web%i/public_ipv4_addr; \
      etcdctl rm /services/web/web%i/private_ipv4_addr; \
      etcdctl rm /services/web/web%i/port; \
    fi; \
    sleep 10; \
  done'

# Stop
ExecStop=/bin/bash -c '\
etcdctl rm /services/web/web%i/unit; \
etcdctl rm /services/web/web%i/host; \
etcdctl rm /services/web/web%i/public_ipv4_addr; \
etcdctl rm /services/web/web%i/private_ipv4_addr; \
etcdctl rm /services/web/web%i/port;'

[X-Fleet]
# Schedule on the same machine as the associated web%i service
X-ConditionMachineOf=web@%i.service
